# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [1]:
num = 7
print(num)

7

##### Assinging float - Float types are decimals

In [3]:
this_float = 7.89

print(this_float)

7.89

#### Performing Calculations on ints and floats

##### Addition (+)

In [5]:
num1 = 4
num2 = 5
result = num1 + num2
print(result)

result += 5
print(result)

result = result + 5
print(result)

9
14
19

##### Subtraction (-)

In [7]:
num3 = 10
num4 = 7

result = num3 - num4
print(result)

result -= 3
print(result)

3
0

##### Multiplication (*)

In [10]:
num5 = 10
num6 = 15
result = num5 * num6
print(result)

result *= 10
print(result)

150
1500

##### Division (/)

In [13]:
#returns to a float

num7 = 18
num8 = 7

result = num7/num8
print(result)

result /= 2
print(result)

2.5714285714285716
1.2857142857142858

##### Floor Division (//) - Normal division but returns the largest possible integer

In [14]:
#return a int

num9 = 18
num10 = 7

result = num9// num10
print(result)

2

##### Modulo (%) - Returns the remainder of division

In [17]:
num = 21
num = 6

result = num % num1
print(result)

if num % 2 ==0: 
    print("Even")

2
Even

##### Exponential (**)

In [18]:
square = 5**2
print(square)

25

### String Input-Output

##### String Assignment

In [19]:
name = 'Dylan'

print(name)

Dylan

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print("My name is: ", name)
print('my Name is: ', end=" Katina')

SyntaxError: unterminated string literal (detected at line 2) (105264804.py, line 2)

##### String Concatenation

In [ ]:
first = "Dylan"
last = "Katina"ArithmeticError

##### Type Conversion

In [ ]:
number = "57"ArithmeticError

result =  2

##### input()

In [23]:
age = input(How old are you?: ")
print(:You are ', age " years old":)

SyntaxError: unterminated string literal (detected at line 1) (1576395659.py, line 1)

##### format()

In [25]:
age = input("How old are you")
name = "Dylan"

result = "Hi {}, you are {} years old".format(name, age)
print(result)

common = f"Hello {name}, you are {age} years now"ArithmeticError
print(common)

SyntaxError: invalid syntax (1461044193.py, line 7)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
color = input("Enter the color of the car: ")
year = input("Enter the year of the car: ")
make = input("Enter the make of the car: ")
model = input("Enter the model of the car: ")

car_info = "You have a {0} {1} {2} {3}".format(year, color, make, model)
print(car_info)

You have a 1970 blue nissan sentra

### If Statements

In [27]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1 = 20
num2 = 15

if num1 > num2:
    print(f"{num1} is greater than {num2}")
else: 
    print(f"{num1} is less than {num2}")


gabe see: 

elif num1 == num2:
    print("These values are equal")

20 is greater than 15

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

##### 'in' keyword = used to check if a value is present in a sequence

In [28]:
name = "dylan katina"ArithmeticError

if "dylan" in name:
    print('yes')
    else:
        print('no')

SyntaxError: invalid syntax (2439980248.py, line 1)

##### 'not in' keyword'

In [ ]:
if

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [29]:
user_input = input("Enter any sentence please: ")

if 'p' in user_input:
    print("The letter 'p' is in the input.")
else:
    print:("The letter 'p' is not in the input.")

The letter 'p' is in the input.

## Using 'and'/'or' with If Statements

In [ ]:
name = "Paul Abro"

if 'p' in name or 'P' in name:
    print("P")
else:
    print("no p")

christian = 'cool'

if christian == 'cool' and 'P' in name:
    print("we lit")
else:
    print("Goofy")

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [30]:
name = "Dylan"

for letter in name:
    print(letter)

D
y
l
a
n

##### Continue Statement

In [31]:
# will continue to next iteration

for letter in name:
    if letter == 'l':
        continue
    print(letter)

D
y
a
n

##### Break Statement

In [33]:
# will break out of current loop

for letter in name:
    if letter == 'l':
        break
    print(letter)

    print("done")

D
done
y
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

for letter in name:
    pass #add functionality later

##### Double For Loops

In [34]:
for num1 in range (5):
    print(num1)

0
1
2
3
4

### While Loops

In [ ]:
num = 0

while  num < 10:
    print(num)

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [ ]:
#rane takes in multiple parameters START STEP STOP

##### len()

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

##### isinstance() - checks if the object is the type

##### abs() - returns the absolute value

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove() - removes element in a list, does not remove duplicates

NameError: name 'names' is not defined

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
#REMEMBER TO INDENT BLOCKS!!! --->STUDY FORMATTING

# starting the loop at 1
num = 1

# keep the loop going WHILE the cube of "1" here is less than or equal <= to 1000
while num ** 3 <= 1000:

# calculate cube of current number
    cube = num ** 3

# print the cube of the current number
    print(cube)

# keep increment the number for next ongoing iteration
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
#*****EXTRA CREDIT*****DO: Ex.'s #1 and #2 first

# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [6]:
#ask user for their age and make their answer an integer
age = int(input("Kindly enter your age: "))

# "IF" for user younger than 18 [0-17]
if age < 18:
    print("kids")

# "ELSE IF" for user age is between 18 and 65, including age 18 or 65
elif age >= 18 and age <+ 65:
    print("adults")

# "ELSE" for user is older than 65 [66+]
else:
    print("seniors")

seniors